table{
    border-collapse: collapse;
    width: 100%;
}

h1{
    color: blue;
}

th,
td, tr{
    text-align:center;
    padding: 8px;
}

tr:nth-child(even){
    background-color: cadetblue;
}